"Benefit Cost Sharing and Financial Analysis"
üìç TASK 2: Data Cleaning & Pre-processing
Handling missing data, duplicates, formatting, derived features, and transformation.
Data Pre-processing
‚óè Perform all necessary cleaning steps such as :
     
 1. Handling missing values
 2. Removing duplicates 
 3. Correcting data types
 4. Creating derived columns
 5. Filtering or aggregating data

1Ô∏è‚É£ Importing Libraries

In [37]:
import numpy as np
import pandas as pd

2Ô∏è‚É£ Reading the Dataset

In [5]:
Benifit_cost=pd.read_csv(r"C:\Users\hp\OneDrive\Desktop\project\BenefitsCostSharing.csv")

C:\Users\hp\AppData\Local\Temp\ipykernel_12712\3598376911.py:1: DtypeWarning: Columns (3,6,9,10,16,17,18) have mixed types. Specify dtype option on import or set low_memory=False.
  Benifit_cost=pd.read_csv(r"C:\Users\hp\OneDrive\Desktop\project\BenefitsCostSharing.csv")

‚û§ Loading the First 5 Columns of Benefit cost sharing Dataset

In [8]:
Benifit_cost.head(5)

,BenefitName,BusinessYear,CoinsInnTier1,CoinsInnTier2,CoinsOutofNet,CopayInnTier1,CopayInnTier2,CopayOutofNet,EHBVarReason,Exclusions,...,LimitUnit,MinimumStay,PlanId,QuantLimitOnSvc,RowNumber,SourceName,StandardComponentId,StateCode,StateCode2,VersionNum
0,Routine Dental Services (Adult),2014,20%,NaN,20%,No Charge,NaN,No Charge,Above EHB,NaN,...,Dollars per Year,NaN,21989AK0010001-00,Yes,68,HIOS,21989AK0010001,AK,AK,6
1,Dental Check-Up for Children,2014,20%,NaN,20%,No Charge,NaN,No Charge,Substantially Equal,NaN,...,Visit(s) per 6 Months,NaN,21989AK0010001-00,Yes,104,HIOS,21989AK0010001,AK,AK,6
2,Basic Dental Care - Child,2014,40%,NaN,40%,No Charge,NaN,No Charge,Substantially Equal,NaN,...,NaN,NaN,21989AK0010001-00,NaN,110,HIOS,21989AK0010001,AK,AK,6
3,Orthodontia - Child,2014,50%,NaN,50%,No Charge,NaN,No Charge,Additional EHB Benefit,NaN,...,NaN,NaN,21989AK0010001-00,NaN,111,HIOS,21989AK0010001,AK,AK,6
4,Major Dental Care - Child,2014,50%,NaN,50%,No Charge,NaN,No Charge,Substantially Equal,NaN,...,NaN,NaN,21989AK0010001-00,NaN,112,HIOS,21989AK0010001,AK,AK,6

3Ô∏è‚É£ Data Pre-processing
‚è≥ 1. Handling missing values

In [13]:
Benifit_cost.isnull().sum()

BenefitName                  0
BusinessYear                 0
CoinsInnTier1          1113847
CoinsInnTier2          4571587
CoinsOutofNet          1113847
CopayInnTier1          1113847
CopayInnTier2          4571587
CopayOutofNet          1113849
EHBVarReason           3020737
Exclusions             4572247
Explanation            4075700
ImportDate                   0
IsCovered               215980
IsEHB                  1817362
IsExclFromInnMOOP       983986
IsExclFromOonMOOP       982626
IsStateMandate         4250463
IsSubjToDedTier1       2465877
IsSubjToDedTier2       2466054
IssuerId                     0
IssuerId2                    0
LimitQty               4360725
LimitUnit              4360539
MinimumStay            5031681
PlanId                       0
QuantLimitOnSvc        3264532
RowNumber                    0
SourceName                   0
StandardComponentId          0
StateCode                    0
StateCode2                   0
VersionNum                   0
dtype: int64

üîë Here we found more missing values.
üîë We cant take any action in this data set it more are object any further action its affect data set

‚è≥ 2.Find  duplicates
üîë A . Finding the Total Number of Duplicated Data in the Health-Care DataSet

In [16]:
Benifit_cost.duplicated().sum()

86

üîë We cant take any action for this its also affect the data set becuse object value are more here in data set
üîë its also repeating

‚è≥ 3. Formating Data

üîë A. Strip whitespace and convert to title case from Name Column

In [69]:
Benifit_cost['BenefitName']=Benifit_cost['BenefitName'].str.strip().str.title()

In [71]:
Benifit_cost.head(2)

,BenefitName,BusinessYear,CoinsInnTier1,CoinsInnTier2,CoinsOutofNet,CopayInnTier1,CopayInnTier2,CopayOutofNet,EHBVarReason,Exclusions,...,LimitUnit,MinimumStay,PlanId,QuantLimitOnSvc,RowNumber,SourceName,StandardComponentId,StateCode,StateCode2,VersionNum
0,Routine Dental Services (Adult),2014,20,NaN,20%,No Charge,NaN,No Charge,Above EHB,NaN,...,Dollars per Year,NaN,21989AK0010001-00,Yes,68,HIOS,21989AK0010001,AK,AK,6
1,Dental Check-Up For Children,2014,20,NaN,20%,No Charge,NaN,No Charge,Substantially Equal,NaN,...,Visit(s) per 6 Months,NaN,21989AK0010001-00,Yes,104,HIOS,21989AK0010001,AK,AK,6

üîë B. Strip whitespace and convert to title case Benefit Name  column

In [73]:
Benifit_cost['BenefitName'] = Benifit_cost['BenefitName'].str.strip().str.rstrip('')

In [75]:
Benifit_cost.head(2)

,BenefitName,BusinessYear,CoinsInnTier1,CoinsInnTier2,CoinsOutofNet,CopayInnTier1,CopayInnTier2,CopayOutofNet,EHBVarReason,Exclusions,...,LimitUnit,MinimumStay,PlanId,QuantLimitOnSvc,RowNumber,SourceName,StandardComponentId,StateCode,StateCode2,VersionNum
0,Routine Dental Services (Adult),2014,20,NaN,20%,No Charge,NaN,No Charge,Above EHB,NaN,...,Dollars per Year,NaN,21989AK0010001-00,Yes,68,HIOS,21989AK0010001,AK,AK,6
1,Dental Check-Up For Children,2014,20,NaN,20%,No Charge,NaN,No Charge,Substantially Equal,NaN,...,Visit(s) per 6 Months,NaN,21989AK0010001-00,Yes,104,HIOS,21989AK0010001,AK,AK,6

üîë A. Strip extract  and convert to intiger

In [129]:
Benifit_cost['CoinsInnTier1']=Benifit_cost['CoinsInnTier1'].str.extract('(\\d+)')[0]

In [135]:
Benifit_cost['CoinsInnTier1']=Benifit_cost['CoinsInnTier1'].fillna(0)

In [141]:
Benifit_cost['CoinsInnTier1']=Benifit_cost['CoinsInnTier1'].astype(int)

In [81]:
Benifit_cost.head(3)

,BenefitName,BusinessYear,CoinsInnTier1,CoinsInnTier2,CoinsOutofNet,CopayInnTier1,CopayInnTier2,CopayOutofNet,EHBVarReason,Exclusions,...,LimitUnit,MinimumStay,PlanId,QuantLimitOnSvc,RowNumber,SourceName,StandardComponentId,StateCode,StateCode2,VersionNum
0,Routine Dental Services (Adult),2014,20,NaN,20%,No Charge,NaN,No Charge,Above EHB,NaN,...,Dollars per Year,NaN,21989AK0010001-00,Yes,68,HIOS,21989AK0010001,AK,AK,6
1,Dental Check-Up For Children,2014,20,NaN,20%,No Charge,NaN,No Charge,Substantially Equal,NaN,...,Visit(s) per 6 Months,NaN,21989AK0010001-00,Yes,104,HIOS,21989AK0010001,AK,AK,6
2,Basic Dental Care - Child,2014,40,NaN,40%,No Charge,NaN,No Charge,Substantially Equal,NaN,...,NaN,NaN,21989AK0010001-00,NaN,110,HIOS,21989AK0010001,AK,AK,6

In [147]:
Benifit_cost['CoinsInnTier2']=Benifit_cost['CoinsInnTier2'].fillna(0)

In [151]:
Benifit_cost['CoinsInnTier2']=Benifit_cost['CoinsInnTier2'].astype(int)

In [85]:
Benifit_cost.head(3)

,BenefitName,BusinessYear,CoinsInnTier1,CoinsInnTier2,CoinsOutofNet,CopayInnTier1,CopayInnTier2,CopayOutofNet,EHBVarReason,Exclusions,...,LimitUnit,MinimumStay,PlanId,QuantLimitOnSvc,RowNumber,SourceName,StandardComponentId,StateCode,StateCode2,VersionNum
0,Routine Dental Services (Adult),2014,20,0,20%,No Charge,NaN,No Charge,Above EHB,NaN,...,Dollars per Year,NaN,21989AK0010001-00,Yes,68,HIOS,21989AK0010001,AK,AK,6
1,Dental Check-Up For Children,2014,20,0,20%,No Charge,NaN,No Charge,Substantially Equal,NaN,...,Visit(s) per 6 Months,NaN,21989AK0010001-00,Yes,104,HIOS,21989AK0010001,AK,AK,6
2,Basic Dental Care - Child,2014,40,0,40%,No Charge,NaN,No Charge,Substantially Equal,NaN,...,NaN,NaN,21989AK0010001-00,NaN,110,HIOS,21989AK0010001,AK,AK,6

In [91]:
Benifit_cost['CoinsOutofNet']=Benifit_cost['CoinsOutofNet'].str.extract('(\\d+)')[0]

In [155]:
Benifit_cost['CoinsOutofNet']=Benifit_cost['CoinsOutofNet'].astype(int)

In [93]:
Benifit_cost.head(3)

,BenefitName,BusinessYear,CoinsInnTier1,CoinsInnTier2,CoinsOutofNet,CopayInnTier1,CopayInnTier2,CopayOutofNet,EHBVarReason,Exclusions,...,LimitUnit,MinimumStay,PlanId,QuantLimitOnSvc,RowNumber,SourceName,StandardComponentId,StateCode,StateCode2,VersionNum
0,Routine Dental Services (Adult),2014,20,0,20,No Charge,NaN,No Charge,Above EHB,NaN,...,Dollars per Year,NaN,21989AK0010001-00,Yes,68,HIOS,21989AK0010001,AK,AK,6
1,Dental Check-Up For Children,2014,20,0,20,No Charge,NaN,No Charge,Substantially Equal,NaN,...,Visit(s) per 6 Months,NaN,21989AK0010001-00,Yes,104,HIOS,21989AK0010001,AK,AK,6
2,Basic Dental Care - Child,2014,40,0,40,No Charge,NaN,No Charge,Substantially Equal,NaN,...,NaN,NaN,21989AK0010001-00,NaN,110,HIOS,21989AK0010001,AK,AK,6

In [95]:
Benifit_cost['CoinsOutofNet'].unique()

array(['20', '40', '50', nan, '0', '30', '100', '80', '60', '45', '65',
       '10', '15', '35', '70', '25', '90', '5', '55', '75', '85', '49',
       '8', '28', '46', '19', '37', '33', '3', '95', '2', '21', '58', '1'],
      dtype=object)

In [97]:
Benifit_cost['CoinsOutofNet']=Benifit_cost['CoinsOutofNet'].fillna(0)

In [157]:
Benifit_cost['CoinsOutofNet']=Benifit_cost['CoinsOutofNet'].astype(int)

In [99]:
Benifit_cost.head(3)

,BenefitName,BusinessYear,CoinsInnTier1,CoinsInnTier2,CoinsOutofNet,CopayInnTier1,CopayInnTier2,CopayOutofNet,EHBVarReason,Exclusions,...,LimitUnit,MinimumStay,PlanId,QuantLimitOnSvc,RowNumber,SourceName,StandardComponentId,StateCode,StateCode2,VersionNum
0,Routine Dental Services (Adult),2014,20,0,20,No Charge,NaN,No Charge,Above EHB,NaN,...,Dollars per Year,NaN,21989AK0010001-00,Yes,68,HIOS,21989AK0010001,AK,AK,6
1,Dental Check-Up For Children,2014,20,0,20,No Charge,NaN,No Charge,Substantially Equal,NaN,...,Visit(s) per 6 Months,NaN,21989AK0010001-00,Yes,104,HIOS,21989AK0010001,AK,AK,6
2,Basic Dental Care - Child,2014,40,0,40,No Charge,NaN,No Charge,Substantially Equal,NaN,...,NaN,NaN,21989AK0010001-00,NaN,110,HIOS,21989AK0010001,AK,AK,6

In [103]:
Benifit_cost['CopayInnTier1']=Benifit_cost['CopayInnTier1'].str.extract('(\\d+)')[0]

In [105]:
Benifit_cost['CopayInnTier1'].unique()

array([nan, '0', '45', '15', '10', '25', '30', '35', '50', '60', '17',
       '8', '20', '150', '100', '200', '40', '300', '55', '395', '75',
       '5', '70', '80', '65', '500', '350', '1', '750', '125', '1000',
       '85', '250', '3', '90', '160', '120', '95', '110', '180', '400',
       '1400', '72', '800', '600', '1500', '9', '6', '4000', '4', '2',
       '475', '54', '44', '430', '375', '16', '875', '275', '2200', '12',
       '46', '185', '335', '28', '2000', '1250', '320', '700', '310',
       '49', '7', '21', '33', '3000', '4500', '2100', '31', '105', '190',
       '130', '950', '162', '143', '22', '272', '226', '131', '418',
       '119', '109', '270', '499', '89', '74', '154', '87', '159', '38',
       '76', '175', '450', '63', '57', '18', '280', '48', '26', '145',
       '66', '225', '140', '1200', '205', '144', '449', '589', '279',
       '427', '155', '550', '650', '825', '88', '210', '2500', '900',
       '43', '196', '32', '96', '480', '578', '465', '81', '79', '69',
       '82', '346', '301', '425', '135', '47', '56', '625', '390', '240',
       '230', '115', '285', '14', '1800', '67', '42', '199', '260', '19',
       '5000', '3500', '97', '78', '83', '53', '37', '385', '515', '13',
       '11', '51', '428', '325', '52', '247', '251', '265', '6600',
       '6000', '170', '345', '41', '23', '62', '2250', '27', '39', '24',
       '245', '302', '437', '740', '108', '290', '220', '2325', '850',
       '348', '64', '257', '575', '420', '365', '595', '165', '242',
       '352', '237', '308', '371'], dtype=object)

In [107]:
Benifit_cost['CopayInnTier1']=Benifit_cost['CopayInnTier1'].fillna(0)

In [159]:
Benifit_cost['CopayInnTier1']=Benifit_cost['CopayInnTier1'].astype(int)

In [111]:
Benifit_cost['CopayInnTier2']=Benifit_cost['CopayInnTier2'].str.extract('(\\d+)')

In [113]:
Benifit_cost['CopayInnTier2'].unique()

array([nan, '100', '0', '200', '400', '35', '50', '15', '40', '60', '65',
       '20', '395', '600', '25', '300', '30', '75', '10', '5', '750',
       '500', '1', '1000', '1250', '150', '320', '80', '120', '110', '85',
       '250', '350', '90', '12', '55', '45', '70', '3', '7', '6', '2000',
       '8', '95', '700', '175', '450', '800', '4', '57', '18', '280',
       '375', '190', '48', '275', '105', '2', '1300', '1200', '1500',
       '225', '125', '550', '900', '180', '76', '38', '115', '950', '140',
       '285', '135', '63', '67', '42', '2500', '525', '425', '1050',
       '130', '725', '325', '5000', '3500', '4000', '3000', '1550', '240',
       '1100', '1400', '6600', '6000', '17', '160', '16', '27', '9', '23',
       '53', '83', '385', '740', '24', '69', '108', '290', '1800', '145',
       '1600', '2250'], dtype=object)

In [115]:
Benifit_cost['CopayInnTier2']=Benifit_cost['CopayInnTier2'].fillna(0)

In [117]:
Benifit_cost['CopayInnTier2'].unique()

array([0, '100', '0', '200', '400', '35', '50', '15', '40', '60', '65',
       '20', '395', '600', '25', '300', '30', '75', '10', '5', '750',
       '500', '1', '1000', '1250', '150', '320', '80', '120', '110', '85',
       '250', '350', '90', '12', '55', '45', '70', '3', '7', '6', '2000',
       '8', '95', '700', '175', '450', '800', '4', '57', '18', '280',
       '375', '190', '48', '275', '105', '2', '1300', '1200', '1500',
       '225', '125', '550', '900', '180', '76', '38', '115', '950', '140',
       '285', '135', '63', '67', '42', '2500', '525', '425', '1050',
       '130', '725', '325', '5000', '3500', '4000', '3000', '1550', '240',
       '1100', '1400', '6600', '6000', '17', '160', '16', '27', '9', '23',
       '53', '83', '385', '740', '24', '69', '108', '290', '1800', '145',
       '1600', '2250'], dtype=object)

In [121]:
Benifit_cost['CopayInnTier2']=Benifit_cost['CopayInnTier2'].astype(int)

In [161]:
Benifit_cost.head(5)

,BenefitName,BusinessYear,CoinsInnTier1,CoinsInnTier2,CoinsOutofNet,CopayInnTier1,CopayInnTier2,CopayOutofNet,EHBVarReason,Exclusions,...,LimitUnit,MinimumStay,PlanId,QuantLimitOnSvc,RowNumber,SourceName,StandardComponentId,StateCode,StateCode2,VersionNum
0,Routine Dental Services (Adult),2014,20,0,20,0,0,No Charge,Above EHB,NaN,...,Dollars per Year,NaN,21989AK0010001-00,Yes,68,HIOS,21989AK0010001,AK,AK,6
1,Dental Check-Up For Children,2014,20,0,20,0,0,No Charge,Substantially Equal,NaN,...,Visit(s) per 6 Months,NaN,21989AK0010001-00,Yes,104,HIOS,21989AK0010001,AK,AK,6
2,Basic Dental Care - Child,2014,40,0,40,0,0,No Charge,Substantially Equal,NaN,...,NaN,NaN,21989AK0010001-00,NaN,110,HIOS,21989AK0010001,AK,AK,6
3,Orthodontia - Child,2014,50,0,50,0,0,No Charge,Additional EHB Benefit,NaN,...,NaN,NaN,21989AK0010001-00,NaN,111,HIOS,21989AK0010001,AK,AK,6
4,Major Dental Care - Child,2014,50,0,50,0,0,No Charge,Substantially Equal,NaN,...,NaN,NaN,21989AK0010001-00,NaN,112,HIOS,21989AK0010001,AK,AK,6

In [166]:
## In this table maximum values are object type and make a new table

In [170]:
New_Benifitsharecost=Benifit_cost[['BenefitName','BusinessYear','CoinsInnTier1','CopayInnTier1','PlanId','SourceName','StateCode']]

In [172]:
New_Benifitsharecost.head(5)

,BenefitName,BusinessYear,CoinsInnTier1,CopayInnTier1,PlanId,SourceName,StateCode
0,Routine Dental Services (Adult),2014,20,0,21989AK0010001-00,HIOS,AK
1,Dental Check-Up For Children,2014,20,0,21989AK0010001-00,HIOS,AK
2,Basic Dental Care - Child,2014,40,0,21989AK0010001-00,HIOS,AK
3,Orthodontia - Child,2014,50,0,21989AK0010001-00,HIOS,AK
4,Major Dental Care - Child,2014,50,0,21989AK0010001-00,HIOS,AK

In [ ]:
üì© Saving the Cleaned Data-Set:

In [180]:
New_Benifitsharecost.to_csv("cleaned_Benifitcost.csv", index=False)

‚è≥ 5Ô∏è‚É£ Filtering or aggregating data

üîë A. Filtering data based on years

In [195]:
years_plans = New_Benifitsharecost[New_Benifitsharecost['BusinessYear'] == 2016]

In [197]:
years_plans

,BenefitName,BusinessYear,CoinsInnTier1,CopayInnTier1,PlanId,SourceName,StateCode
3244155,Routine Dental Services (Adult),2016,20,0,21989AK0030001-00,HIOS,AK
3244156,Dental Check-Up For Children,2016,20,0,21989AK0030001-00,HIOS,AK
3244157,Basic Dental Care - Child,2016,30,0,21989AK0030001-00,HIOS,AK
3244158,Orthodontia - Child,2016,50,0,21989AK0030001-00,HIOS,AK
3244159,Major Dental Care - Child,2016,50,0,21989AK0030001-00,HIOS,AK
...,...,...,...,...,...,...,...
5048403,Major Dental Care - Child,2016,50,0,96480WV0110003-00,SERFF,WV
5048404,Basic Dental Care - Adult,2016,0,0,96480WV0110003-00,SERFF,WV
5048405,Orthodontia - Adult,2016,0,0,96480WV0110003-00,SERFF,WV
5048406,Major Dental Care - Adult,2016,0,0,96480WV0110003-00,SERFF,WV
5048407,Accidental Dental,2016,0,0,96480WV0110003-00,SERFF,WV

üîë B. Aggregating Data
‚ñ∂Ô∏è B1. Finding Count of

In [205]:
New_Benifitsharecost.groupby('BenefitName').count()

,BusinessYear,CoinsInnTier1,CopayInnTier1,PlanId,SourceName,StateCode
BenefitName,,,,,,
24/7 Doctor Helpline,24,24,24,24,24,24
Aba Autism Spectrum Disorders,4,4,4,4,4,4
Aba For Autism Spectrum Disorders,256,256,256,256,256,256
Aba For Autism Spectrum Disprders,4,4,4,4,4,4
Abortion For Which Public Funding Is Prohibited,65704,65704,65704,65704,65704,65704
...,...,...,...,...,...,...
Xrays And Diagnostic Imaging (Hospital),48,48,48,48,48,48
¬ìClinical - Trials¬î,55,55,55,55,55,55
¬ìDiabetes - Care Management¬î,55,55,55,55,55,55
¬ìMental Health - Other¬î,55,55,55,55,55,55
¬ìPrescription Drugs - Other¬î,55,55,55,55,55,55

‚ñ∂Ô∏è B2. Average of all CopayInnTier1

In [210]:
New_Benifitsharecost.groupby('CopayInnTier1').mean(numeric_only = True)

               BusinessYear  CoinsInnTier1
CopayInnTier1
0               2015.128467      10.270051
1               2015.114407       2.415254
2               2015.083987       0.000000
3               2015.020865       0.000000
4               2014.883056       0.000000
...                     ...            ...
4000            2014.542857       0.000000
4500            2015.047619       0.000000
5000            2015.600000       0.000000
6000            2015.000000       0.000000
6600            2015.000000       0.000000

[207 rows x 2 columns]

In [212]:
New_Benifitsharecost[["BusinessYear","BenefitName"]].groupby('BusinessYear').describe()

             BenefitName
                   count unique                              top   freq
BusinessYear
2014             1164869    479  Routine Dental Services (Adult)  18719
2015             2079286    497              Orthodontia - Adult  31269
2016             1804253    393              Orthodontia - Adult  27389

In [251]:
New_Benifitsharecost[["StateCode","BenefitName"]].groupby('StateCode').describe()

          BenefitName
                count unique                              top  freq
StateCode
AK              41320     84  Routine Dental Services (Adult)   720
AL              28417    114  Routine Dental Services (Adult)   653
AR              68064     93              Orthodontia - Adult  1077
AZ             221612    188        Major Dental Care - Adult  3345
DE              31370    110              Orthodontia - Adult   602
FL             364742    183              Orthodontia - Child  5130
GA             196579    147        Basic Dental Care - Child  2893
HI               6741     76  Routine Dental Services (Adult)   110
IA             110221    104     Dental Check-Up For Children  1727
ID              27313     71     Dental Check-Up For Children   447
IL             320533    154        Basic Dental Care - Adult  4299
IN             148531    109        Major Dental Care - Adult  2347
KS              64279     82     Dental Check-Up For Children  1087
LA              91816    125  Routine Dental Services (Adult)  1491
ME              61834     99        Basic Dental Care - Child   975
MI             189225    194        Basic Dental Care - Child  3248
MO              95152    125              Orthodontia - Child  1577
MS              46895    102        Basic Dental Care - Adult   725
MT              58132     75        Basic Dental Care - Child  1049
NC              94290     98        Major Dental Care - Adult  1537
ND              48269     77                Accidental Dental   974
NE              66935     90        Major Dental Care - Adult  1238
NH              44305     98        Major Dental Care - Adult   707
NJ              86107    100              Orthodontia - Adult  1357
NM              56669     78              Orthodontia - Adult   828
NV              62743    118     Dental Check-Up For Children   930
OH             331045    184  Routine Dental Services (Adult)  5092
OK             133639     83        Major Dental Care - Adult  2136
OR              93502    118              Orthodontia - Adult  1344
PA             260866    150  Routine Dental Services (Adult)  4208
SC             111907     83              Orthodontia - Child  1817
SD              47730     79              Orthodontia - Adult   843
TN             138154    127        Basic Dental Care - Adult  2073
TX             465164    172                Accidental Dental  6441
UT              98421    100        Major Dental Care - Adult  1527
VA             142236    142                Accidental Dental  2256
WI             512587    140        Basic Dental Care - Adult  7135
WV              32638     77        Basic Dental Care - Child   625
WY              48425     90        Major Dental Care - Adult   807

In [255]:
New_Benifitsharecost['CoinsInnTier1'].value_counts().head(5)

CoinsInnTier1
0     3292267
20     699602
30     353429
50     221323
10     208094
Name: count, dtype: int64

In [ ]:
New_Benifitsharecost.groupby('BusinessYear').sum()